{
  "openapi": "3.1.0",
  "info": {
    "title": "Hacksnap Stories API",
    "version": "1.1.0",
    "description": "Public read-only stories and AI-generated summaries. No authentication required."
  },
  "servers": [
    {
      "url": "https://hacksnap.live"
    }
  ],
  "externalDocs": {
    "url": "https://hacksnap.live/docs/api"
  },
  "security": [],
  "paths": {
    "/api/stories": {
      "get": {
        "operationId": "listStories",
        "summary": "List the current ranked stories",
        "description": "Uses the homepage selection and shared 30-minute data cache. May serve stale data during refresh failures. No pagination or query parameters.",
        "responses": {
          "200": {
            "description": "Current stories; the list may be empty.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["stories", "ingestion"],
                  "properties": {
                    "stories": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Story"
                      }
                    },
                    "ingestion": {
                      "type": ["string", "null"],
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Data temporarily unavailable. Retry after 60 seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Delay in seconds before retrying."
              }
            }
          }
        }
      }
    },
    "/api/stories/{id}": {
      "get": {
        "operationId": "getStory",
        "summary": "Get a story, including archived stories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[1-9][0-9]{0,14}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Story; summary is null while pending.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Story"
                }
              }
            }
          },
          "400": {
            "description": "Invalid story ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Story not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Data temporarily unavailable. Retry after 60 seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Delay in seconds before retrying."
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Story": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "hn_id",
          "title",
          "url",
          "points",
          "comment_count",
          "date_added",
          "summary",
          "category"
        ],
        "properties": {
          "hn_id": {
            "type": "string",
            "pattern": "^[1-9][0-9]{0,14}$"
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "points": {
            "type": "integer"
          },
          "comment_count": {
            "type": "integer"
          },
          "date_added": {
            "type": "string",
            "format": "date-time"
          },
          "summary": {
            "type": ["object", "null"],
            "additionalProperties": false,
            "required": ["article_summary", "discussion_summary", "overall_takeaway"],
            "properties": {
              "article_summary": {
                "type": ["string", "null"]
              },
              "discussion_summary": {
                "type": "string"
              },
              "overall_takeaway": {
                "type": "string"
              },
              "discussion_analysis": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/DiscussionAnalysis"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Included on GET /api/stories/{id}; omitted from list responses. Null means unavailable, including legacy stories. No backfill is promised."
              }
            }
          },
          "category": {
            "type": ["string", "null"],
            "enum": [
              "models_products",
              "agents_coding",
              "research_evaluation",
              "infrastructure_efficiency",
              "safety_privacy",
              "industry_society",
              null
            ],
            "description": "Primary AI topic; null while awaiting classification."
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "DiscussionAnalysis": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "status",
          "analyzed_at",
          "coverage",
          "reference_claims",
          "critical_comments",
          "supportive_comments",
          "topics"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": ["available", "no_comments", "insufficient_context"]
          },
          "analyzed_at": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "Analysis time, independent of article summary generation; null when unknown."
          },
          "coverage": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DiscussionCoverage"
              },
              {
                "type": "null"
              }
            ]
          },
          "reference_claims": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReferenceClaim"
            }
          },
          "critical_comments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CriticalComment"
            }
          },
          "supportive_comments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupportiveComment"
            }
          },
          "topics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DiscussionTopic"
            }
          }
        },
        "description": "AI-generated analysis of a sample. Highlights are paraphrases with explicit stance toward a reference claim, not a vote or a measure of community opinion. no_comments means no usable comments; all evidence lists are empty. insufficient_context means no source claim could be assessed; topics may still be present, claims and stance highlights are empty."
      },
      "DiscussionCoverage": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "stored_comments",
          "included_comments",
          "comments_truncated",
          "selection_method"
        ],
        "properties": {
          "stored_comments": {
            "type": "integer",
            "minimum": 0
          },
          "included_comments": {
            "type": "integer",
            "minimum": 0
          },
          "comments_truncated": {
            "type": "boolean"
          },
          "selection_method": {
            "type": "string",
            "enum": ["active_branches_with_ancestors_v1"]
          }
        },
        "description": "Usable stored comments and the subset analyzed, selecting active branches with available ancestors. The sample may omit parts of the thread; truncation reports the analysis input limit. Null coverage means unknown."
      },
      "ReferenceClaim": {
        "type": "object",
        "additionalProperties": false,
        "required": ["id", "text", "source"],
        "properties": {
          "id": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "source": {
            "type": "string",
            "enum": ["article", "story_text"]
          }
        }
      },
      "CriticalComment": {
        "type": "object",
        "additionalProperties": false,
        "required": ["comment_id", "claim_id", "stance", "paraphrase", "explanation"],
        "properties": {
          "comment_id": {
            "type": "integer",
            "minimum": 1,
            "maximum": 999999999999999,
            "description": "HN source comment ID; link to https://news.ycombinator.com/item?id={comment_id}."
          },
          "claim_id": {
            "type": "string",
            "description": "Matches reference_claims[].id; stance addresses that original claim."
          },
          "stance": {
            "type": "string",
            "enum": ["disagrees", "qualified_disagreement"]
          },
          "paraphrase": {
            "type": "string"
          },
          "explanation": {
            "type": "string"
          }
        }
      },
      "SupportiveComment": {
        "type": "object",
        "additionalProperties": false,
        "required": ["comment_id", "claim_id", "stance", "paraphrase", "explanation"],
        "properties": {
          "comment_id": {
            "type": "integer",
            "minimum": 1,
            "maximum": 999999999999999,
            "description": "HN source comment ID; link to https://news.ycombinator.com/item?id={comment_id}."
          },
          "claim_id": {
            "type": "string",
            "description": "Matches reference_claims[].id; stance addresses that original claim."
          },
          "stance": {
            "type": "string",
            "enum": ["agrees", "qualified_agreement"]
          },
          "paraphrase": {
            "type": "string"
          },
          "explanation": {
            "type": "string"
          }
        }
      },
      "DiscussionTopic": {
        "type": "object",
        "additionalProperties": false,
        "required": ["key", "title", "summary", "comment_ids"],
        "properties": {
          "key": {
            "type": "string",
            "enum": [
              "applicability",
              "evidence",
              "technical_limitations",
              "cost",
              "ethics",
              "privacy_security",
              "social_impact",
              "alternatives",
              "other"
            ]
          },
          "title": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "comment_ids": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 1,
              "maximum": 999999999999999,
              "description": "HN source comment ID; link to https://news.ycombinator.com/item?id={comment_id}."
            }
          }
        }
      }
    }
  }
}
